body {
    color: rgb(254, 214, 106);
    background-color: rgb(80, 79, 105);
    text-align: center;
    margin: 5px;
    font-size: 5px;
    font-style: oblique;
    bottom: solid rgb(26, 26, 33);
    font-size: 300%;
}

header {
    padding: 5px;
    background-color: rgb(59, 58, 76);
    border-bottom: solid rgb(26, 26, 33);
    font-size: 150%;
}

img {
    width: 70%;
}

ul {
    border: solid 7px rgb(26, 26, 33);
}

.Título {
color: rgb(255, 249, 168);
}